<div class="container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}} - My Node + Express Application</p>
    <p class="server_req"></p>
    <hr>
    <input type="text" id="new_text" />
    <button class="btn">Send</button>