<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

  <script>
  
  //var socket = io.connect('http://localhost:4000');
  var socket = io.connect('https://fast-ravine-54434.herokuapp.com');
  socket.on('news', function (data) {
    $('.server_req').text(data.serverMsg);
  });

  $(document).ready(function(){
  socket.on('userMsg', function (data) {
      $('.server_req').append('<br/>'+data.msg);
    console.log(data);
  });
  socket.on('newUserMsg', function (data) {
      $('.server_req').append('<br/>'+data.newUserMsg);
    console.log(data);
  });
  socket.on('userTyping', function (data) {
      $('span').html(data);
  });
  $('#new_text').keypress(function(e){
    var text = $(this).val();
    if (e.keyCode == 13){
      $(span).html(' ');
    socket.emit('userSays', { userMsg: text });
    }
    else{
    socket.emit('typing', 'Typing...');
    }
  });
  });
</script>
</head>

<body>
  {{{body}}}
</body>

</html>